In [1]:
import pandas as pd
import altair as alt
import requests as req
import numpy as np
from scipy import stats
alt.data_transformers.enable("vegafusion")

DataTransformerRegistry.enable('vegafusion')

In [2]:
openml_url = "https://www.openml.org/api/v1/json/data/43633"
dataset = req.get(openml_url).json()['data_set_description']

### Pre-Processing

In [3]:
df = pd.read_parquet(dataset['parquet_url'])
df

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,ADDRESS,ZIP_CODE,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,SALE_PRICE,SALE_DATE
0,1,ALPHABET CITY,02 TWO FAMILY HOMES,746 EAST 6 STREET,10009.0,2134.0,3542.0,1899.0,1800000,2003-01-22 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,316 EAST 3 STREET,10009.0,5746.0,2700.0,1900.0,0,2003-12-18 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,316 EAST 3 STREET,10009.0,5746.0,2700.0,1900.0,0,2003-12-18 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,125 AVENUE D,10009.0,2185.0,5725.0,1910.0,426000,2003-10-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,610 EAST 9 STREET,10009.0,2543.0,11568.0,1910.0,0,2003-02-28 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1600197,5,WOODROW,02 TWO FAMILY DWELLINGS,115 AMBASSADOR LANE,10309.0,8846.0,1710.0,2001.0,637500,2019-08-20 00:00:00
1600198,5,WOODROW,05 TAX CLASS 1 VACANT LAND,108 BERKSHIRE LANE,10309.0,0.0,0.0,2018.0,599701,2019-04-24 00:00:00
1600199,5,WOODROW,05 TAX CLASS 1 VACANT LAND,35 WILTSHIRE LANE,10309.0,0.0,0.0,2018.0,896060,2019-04-22 00:00:00
1600200,5,WOODROW,05 TAX CLASS 1 VACANT LAND,N/A QUAIL LANE,10309.0,2640.0,0.0,NaN,26000,2019-08-22 00:00:00
1600201,5,WOODROW,06 TAX CLASS 1 - OTHER,22 CLAY PIT ROAD,10309.0,7920.0,0.0,2011.0,0,2019-05-22 00:00:00

In [4]:
df.isna().sum()

BOROUGH                        0
NEIGHBORHOOD                   0
BUILDING_CLASS_CATEGORY        0
ADDRESS                        0
ZIP_CODE                      16
LAND_SQUARE_FEET           17227
GROSS_SQUARE_FEET          17226
YEAR_BUILT                  6027
SALE_PRICE                     0
SALE_DATE                      0
dtype: int64

In [5]:
df = df.dropna()
df

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,ADDRESS,ZIP_CODE,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,SALE_PRICE,SALE_DATE
0,1,ALPHABET CITY,02 TWO FAMILY HOMES,746 EAST 6 STREET,10009.0,2134.0,3542.0,1899.0,1800000,2003-01-22 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,316 EAST 3 STREET,10009.0,5746.0,2700.0,1900.0,0,2003-12-18 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,316 EAST 3 STREET,10009.0,5746.0,2700.0,1900.0,0,2003-12-18 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,125 AVENUE D,10009.0,2185.0,5725.0,1910.0,426000,2003-10-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,610 EAST 9 STREET,10009.0,2543.0,11568.0,1910.0,0,2003-02-28 00:00:00
...,...,...,...,...,...,...,...,...,...,...
1600196,5,WOODROW,02 TWO FAMILY DWELLINGS,117 AMBASSADOR LANE,10309.0,7200.0,1710.0,2001.0,0,2019-12-31 00:00:00
1600197,5,WOODROW,02 TWO FAMILY DWELLINGS,115 AMBASSADOR LANE,10309.0,8846.0,1710.0,2001.0,637500,2019-08-20 00:00:00
1600198,5,WOODROW,05 TAX CLASS 1 VACANT LAND,108 BERKSHIRE LANE,10309.0,0.0,0.0,2018.0,599701,2019-04-24 00:00:00
1600199,5,WOODROW,05 TAX CLASS 1 VACANT LAND,35 WILTSHIRE LANE,10309.0,0.0,0.0,2018.0,896060,2019-04-22 00:00:00
1600201,5,WOODROW,06 TAX CLASS 1 - OTHER,22 CLAY PIT ROAD,10309.0,7920.0,0.0,2011.0,0,2019-05-22 00:00:00

In [6]:
sale_date_list = df['SALE_DATE'].str.split(" ").to_list()
sale_year_list = []
sale_month_list = []
month_name = []
month_dict ={
    1: 'Jan',
    2: 'Feb',
    3: 'Mar',
    4: 'Apr',
    5: 'May',
    6: 'Jun',
    7: 'Jul',
    8: 'Aug',
    9: 'Sep',
    10: 'Oct',
    11: 'Nov',
    12: 'Dec'
}

for date in sale_date_list:
    sale_year_list.append(int(date[0].split("-")[0]))
    sale_month_list.append(int(date[0].split("-")[1]))
    month_name.append(month_dict[int(date[0].split("-")[1])])

df['SALE_MONTH'] = sale_month_list
df['SALE_YEAR'] = sale_year_list
df['MONTH_NAME']  = month_name
borough_dict = {
    1: 'Manhattan',
    2: 'The Bronx',
    3: 'Brooklyn',
    4: 'Queens',
    5: 'Staten Island'
}

df['BOROUGH_NAME'] = df['BOROUGH'].map(borough_dict)
df

/tmp/ipykernel_132208/3622824318.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SALE_MONTH'] = sale_month_list
/tmp/ipykernel_132208/3622824318.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SALE_YEAR'] = sale_year_list
/tmp/ipykernel_132208/3622824318.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MONTH_NAME']  = month_name
/tmp/ipykernel_132208/3622824318.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BOROUGH_NAME'] = df['BOROUGH'].map(borough_dict)

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,ADDRESS,ZIP_CODE,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,SALE_PRICE,SALE_DATE,SALE_MONTH,SALE_YEAR,MONTH_NAME,BOROUGH_NAME
0,1,ALPHABET CITY,02 TWO FAMILY HOMES,746 EAST 6 STREET,10009.0,2134.0,3542.0,1899.0,1800000,2003-01-22 00:00:00,1,2003,Jan,Manhattan
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,316 EAST 3 STREET,10009.0,5746.0,2700.0,1900.0,0,2003-12-18 00:00:00,12,2003,Dec,Manhattan
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,316 EAST 3 STREET,10009.0,5746.0,2700.0,1900.0,0,2003-12-18 00:00:00,12,2003,Dec,Manhattan
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,125 AVENUE D,10009.0,2185.0,5725.0,1910.0,426000,2003-10-23 00:00:00,10,2003,Oct,Manhattan
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,610 EAST 9 STREET,10009.0,2543.0,11568.0,1910.0,0,2003-02-28 00:00:00,2,2003,Feb,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600196,5,WOODROW,02 TWO FAMILY DWELLINGS,117 AMBASSADOR LANE,10309.0,7200.0,1710.0,2001.0,0,2019-12-31 00:00:00,12,2019,Dec,Staten Island
1600197,5,WOODROW,02 TWO FAMILY DWELLINGS,115 AMBASSADOR LANE,10309.0,8846.0,1710.0,2001.0,637500,2019-08-20 00:00:00,8,2019,Aug,Staten Island
1600198,5,WOODROW,05 TAX CLASS 1 VACANT LAND,108 BERKSHIRE LANE,10309.0,0.0,0.0,2018.0,599701,2019-04-24 00:00:00,4,2019,Apr,Staten Island
1600199,5,WOODROW,05 TAX CLASS 1 VACANT LAND,35 WILTSHIRE LANE,10309.0,0.0,0.0,2018.0,896060,2019-04-22 00:00:00,4,2019,Apr,Staten Island
1600201,5,WOODROW,06 TAX CLASS 1 - OTHER,22 CLAY PIT ROAD,10309.0,7920.0,0.0,2011.0,0,2019-05-22 00:00:00,5,2019,May,Staten Island

In [7]:
df_temp = df[np.abs(stats.zscore(df['SALE_PRICE'])) < 3]
df_temp = df_temp.query('SALE_PRICE > 0')
df_temp

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,ADDRESS,ZIP_CODE,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,SALE_PRICE,SALE_DATE,SALE_MONTH,SALE_YEAR,MONTH_NAME,BOROUGH_NAME
0,1,ALPHABET CITY,02 TWO FAMILY HOMES,746 EAST 6 STREET,10009.0,2134.0,3542.0,1899.0,1800000,2003-01-22 00:00:00,1,2003,Jan,Manhattan
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,125 AVENUE D,10009.0,2185.0,5725.0,1910.0,426000,2003-10-23 00:00:00,10,2003,Oct,Manhattan
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,165 AVENUE C,10009.0,1909.0,7437.0,1920.0,3,2003-06-16 00:00:00,6,2003,Jun,Manhattan
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,165 AVENUE C,10009.0,1920.0,7485.0,1920.0,3,2003-06-16 00:00:00,6,2003,Jun,Manhattan
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,165 AVENUE C,10009.0,1916.0,7485.0,1920.0,3,2003-06-16 00:00:00,6,2003,Jun,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600194,5,WOODROW,02 TWO FAMILY DWELLINGS,62 AMBASSADOR LA,10309.0,2340.0,2160.0,2001.0,610000,2019-08-06 00:00:00,8,2019,Aug,Staten Island
1600195,5,WOODROW,02 TWO FAMILY DWELLINGS,104 AMBASSADOR LANE,10309.0,2730.0,2565.0,2001.0,625000,2019-07-30 00:00:00,7,2019,Jul,Staten Island
1600197,5,WOODROW,02 TWO FAMILY DWELLINGS,115 AMBASSADOR LANE,10309.0,8846.0,1710.0,2001.0,637500,2019-08-20 00:00:00,8,2019,Aug,Staten Island
1600198,5,WOODROW,05 TAX CLASS 1 VACANT LAND,108 BERKSHIRE LANE,10309.0,0.0,0.0,2018.0,599701,2019-04-24 00:00:00,4,2019,Apr,Staten Island
1600199,5,WOODROW,05 TAX CLASS 1 VACANT LAND,35 WILTSHIRE LANE,10309.0,0.0,0.0,2018.0,896060,2019-04-22 00:00:00,4,2019,Apr,Staten Island

### First Iteration Plots

In [ ]:
upper = alt.Chart(df_temp).mark_boxplot(size=50).encode(
    x='SALE_YEAR:N',
    y='SALE_PRICE:Q' 
).properties(width=1000)

lower = alt.Chart(df_temp).mark_boxplot(clip=True, size=50).encode(
    y = alt.Y('SALE_PRICE:Q', scale=alt.Scale(domain=[0, 2000000])),
    x='SALE_YEAR:N' 
).properties(width=1000)

alt.vconcat(upper, lower)

In [10]:
right = alt.Chart(df_temp).mark_bar(clip=True, size=20).encode(
    y = alt.Y('count()', scale=alt.Scale(domain=[70000, 110000])),
    x= alt.X('MONTH_NAME:O', sort=alt.EncodingSortField(field="SALE_MONTH", order='ascending'))
).properties(width=500, height=500)

left = alt.Chart(df_temp).mark_bar(clip=True, size=20).encode(
    y = alt.Y('median(SALE_PRICE)', scale=alt.Scale(domain=[450000, 500000])),
    x= alt.X('MONTH_NAME:O', sort=alt.EncodingSortField(field="SALE_MONTH", order='ascending'))
).properties(width=500, height=500)

alt.hconcat(right, left, spacing=30)

alt.HConcatChart(...)

In [11]:
alt.Chart(df_temp).mark_line(clip=True).encode(
    y = alt.Y('median(SALE_PRICE)', scale=alt.Scale(domain=[200000, 2000000])),
    x = 'SALE_YEAR:O',
    color = 'BOROUGH_NAME'
).properties(width=500, height=500)

alt.Chart(...)

### Final Iteration